<div id="status">Status</div>

<div class="overlay hidden">
  <div id="dialog">
    <p>Nazwa</p>
    <input type="text" id="nazwa" />
    <button id="log">Loguj</button>
    <button id="reset">Resetuj</button>
  </div>

</div>
<div id="root"></div>