<div class="status"><div id="status">Status </div>
  <div id="timer"></div></div>

<div class="overlay">
  <div id="dialog">
    <p>Nazwa</p>
    <input type="text" id="nazwa" />
    <button id="log">Loguj</button>
    {{! <button id="reset">Resetuj</button> }}
  </div>

</div>
<div id="root"></div>